<div class="view-contacts">
  <ul class="list-group">
    <li class="list-group-item">
      <a class="fa fa-twitter-square" href="http://twitter.com/#!/Malyw">
        {{"views.contacts.Follow me on" | translate}}
        Twitter
      </a>
    </li>
    <li class="list-group-item">
      <a class="fa fa-github-square" href="https://github.com/malyw">
        {{"views.Fork me on" | translate}}
        Github
      </a>
    </li>
    <li class="list-group-item">
      <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/gospodarets">
        {{"views.contacts.My" | translate}}
        LinkedIn
      </a>
    </li>
    <li class="list-group-item">
      <a class="fa fa-facebook-official" href="https://www.facebook.com/gospodarets">
        {{"views.contacts.Follow me on" | translate}}
        Facebook
      </a>
    </li>
  </ul>
</div>
